<!DOCTYPE html>
<html class="no-js">
	<head>
		<title>Zomb'IstiA - Accueil</title>

	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="../public/bootstrap/css/bootstrap-modal-bs3patch.css" rel="stylesheet">

		<link href="../public/bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="../public/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="../public/bootstrap/css/bootstrap-modal.css" rel="stylesheet">

	</head>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/view/js/jquery-1.7.2.min.js"><\/script>')</script>

	<script src="/socket.io/socket.io.js"></script>
	<script src="../public/bootstrap/js/bootstrap.min.js"></script>

	<script>
		/*********** EVENEMENTS LORS DE RECEPTION D'UNE COMMUNICATION SERVEUR -> CLIENT **************/

		var socket = io.connect('http://localhost:25536');
		
		<% if(sessionID) { %>
			$( document ).ready(function()
			{
				socket.emit('INFO_USER_CS', '<%= sessionID %>', '<%= username %>', "accueil");
			});
		<% } %>
		
		socket.on("DECONEXION_SC", function(msg)
		{
			alert(msg);
			$.post("/", { _method: "delete" }, function()
			{
				document.location = "/";
			});
		});
	
	</script>

	<body>
		
		<a class="navbar  col-md-2" href="#image_test" style="margin-top:-7%;margin-left:-2%;" ><img src="../public/images/LOGO.png" width="150" height="150" ></a>

		
		<nav style="border-bottom-left-radius: 50px" class="navbar navbar-inverse col-md-offset-5 col-md-7 navbar-fixed-top" role="navigation">

			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

					<form class="navbar-form navbar-left" action="/" method="post" style="margin-left:5%;">

						<div class="form-group">
					 		<input name="username" type="text" class="form-control" placeholder="Login"/>
					 		<input name="password" type="password" class="form-control" placeholder="Mot de passe"/>
						</div>
						<input name="submit" type="submit" value="Connexion" class="btn btn-danger"/>
					</form>

					<a href="#responsive" data-toggle="modal" class="navbar-text navbar-right navbar-link" style="color:#FF0000; text-decoration:underline;">Rejoignez-nous</a>

				</div>
			</div>
			<div>
				<!--  Si la connexion a raté !  -->
				<% if(errorLogin != null) { %>
					<h6 style="color:#FF0000;margin-left:8%;"><i><%= errorLogin %></i></h6>
				<% } %>
				<!--  Si l'inscription a raté !  -->
				<% if(InfoInscription != null) { %>
					<h6 style="color:#FF0000;margin-left:8%;"><i><%= InfoInscription %></i></h6>
				<% } %>

				<!--  Si l'inscription a réussi !  -->
				<% if(usernameInscription != null) { %>
					<h6 style="color:#FF0000;margin-left:8%;"><i>Bienvenue <%= usernameInscription %>. Un e-mail vient de vous être envoyer afin de valider votre compte.</i></h6>
				<% } %>
			</div>
		</nav>

		<div class="container">
			<!--  Si la connexion a raté !  -->

			<!-- Example row of columns -->

				<div calss="row " style="margin-top:5%;">	
					
						<div class="col-md-12 " style="background-color: rgba(161, 161, 161, 0.3); ;padding-left : 2%;padding-right : 2%;padding-bottom:2%;padding-top:2%;margin-bottom:1%;border-radius:15px;">
							
							<h1 align="center" style="margin-top:0px;"><b>Un pas en enfer...  !</b></h1>
						
							<br>
							<div class="row" style="border:1px solid #FF0000;width:71.5%;margin-left:14%;">
								<div class="col-md-10" style="padding-left:0px;">
									<article>
										<span id="image_test" class="hide"></span>
											<div class="displayable"> 
												<div  style="min-height:300px;float:right;margin-right:-15px;">
													<img  src="../public/presentation/attack.png" height="370"  width="650">
												</div>
											</div>
									</article>

									<article>
										<span id="image_test1" class="hide"></span>
										<div class="displayable"> 
												<div  style="min-height:300px;float:right;margin-right:-15px;">
													<img  src="../public/presentation/exploration.png" height="370"  width="650">
												</div>
											</div>
									</article>

									<article>
										<span id="image_test2" class="hide"></span>
										<div class="displayable"> 
												<div  style="min-height:300px;float:right;margin-right:-15px;">
													<img  src="../public/presentation/armes.png" height="370"  width="650">
												</div>
											</div>
									</article>

									<article>
										<span id="image_test3" class="hide"></span>
										<div class="displayable"> 
												<div  style="min-height:300px;float:right;margin-right:-15px;">
													<img  src="../public/presentation/nuit.png" height="370"  width="650">
												</div>
											</div>
									</article>

									<article>
										<span id="image_test4" class="hide"></span>
										<div class="displayable"> 
												<div  style="min-height:300px;float:right;margin-right:-15px;">
													<img  src="../public/presentation/team.png" height="370"  width="650">
												</div>
											</div>
									</article>
								</div>

								<div class="col-md-2 " style="padding: 0px 0px 0px 0px;">
									<ul class="nav nav-sidebar nav-pills nav-stacked" style="background-color:#000000;min-height:370px ; margin:0px 0px 0px 0px;">
										<li  style="margin-top:22%;"><a href="#image_test" ><b>Survie</b></a></li>
										<li  style="margin-top:7%;" ><a href="#image_test4"><b>Coopérer</b></a></li>
										<li  style="margin-top:7%;" ><a href="#image_test1"><b>Exploration</b></a></li>
										<li  style="margin-top:7%;" ><a href="#image_test2"><b>Equipement </b></a></li>
										<li  style="margin-top:7%;margin-bottom:7%;" align="center"><a href="#image_test3"><b>Attaque de la nuit </b></a></li>
									</ul>
								</div>	
							</div>
							<div class="col-md-9 " style="margin-left:12%;" >
								<br>
								<p align="justify">Nous sommes dans un univers parallèle apocalyptique, dans lequel nous sommes envahis par des zombies affamés.

									<br>
										Du coup, seule ta survie et celle de ton équipe compte !
									<br><br>
										A l’IstiA, trois grandes équipes se sont formées, tu devras donc choisir dans quel camp tu te situes : 
										AGI, INNO ou QSF (et si tu as choisi d'arrêter tes études, c’est pareil).
											
									<br><br>
										Une fois la partie lancée, tu as plusieurs pour ramasser un maximum d’objets pour construire ta zone sûre. 
										Tu vas errer au détour des couloirs de l’IstiA mais attention aux zombies qui rodent. Méfies toi aussi des autres 
										équipes qui peuvent t’attaquer et te dépouiller de tes biens.
									<br><br>Les clés de la victoire seront le travail d’équipe et la communication, sans ça, dis adieu à la vie !
								</p>
							</div>
						</div>
					
				</div>


				    <div id="responsive" class="modal fade" tabindex="-1" data-width="760"  style="display: none;height:47%;background-color: #000000;">
				    	<form action="/" method="POST">
					 		<input name="_method" type="hidden" value="PUT"/>
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								<h4 align="center" class="modal-title">Rejoignez-nous !</h4>
							</div>
							<div class="modal-body">
						 		<input style="margin-top:2%;" class="form-control" name="username" placeholder="Login" type="text" style="padding: 10px 10px 10px 10px;" align="center">
						 		<input style="margin-top:2%;" class="form-control" name="password" placeholder="Mot de passe" type="password">
						 		<input style="margin-top:2%;" class="form-control" name="email" 	placeholder="E-mail" type="text">
							</div>
							<div class="modal-footer">
								<button type="button" data-dismiss="modal" class="btn btn-default">Annuler</button>
								<input  type="submit" class="btn btn-danger" value="S'inscrire" />
							</div>
				    	</form>
					</div>
			</div>

			<hr style="margin-left:10%;margin-right:10%;">

			<footer style="margin-left:15%;">
			<p>&copy; Company 2014</p>
			</footer>
		</div> <!-- /container -->

			<script type="text/javascript">
				$(document).ready(function(){
					document.location.href="/#image_test";
				});
		</script>
	</body>
</html>