<!DOCTYPE html>
<html class="no-js">
	<head>
		<title>Zomb'IstiA - Admin</title>

		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="../public/bootstrap/css/bootstrap-modal-bs3patch.css" rel="stylesheet">

		<link href="../public/bootstrap/css/bootstrap.css" rel="stylesheet">

		

		<link href="../public/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="../public/bootstrap/css/bootstrap-modal.css" rel="stylesheet">
		<script src="/view/js/modernizr-2.6.1.min.js"></script>
	</head>
	<body>

		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="container-fluid">
		        	<div class="navbar-header">
		         		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			            	<span class="sr-only">Toggle navigation</span>
			            	<span class="icon-bar"></span>
			            	<span class="icon-bar"></span>
			            	<span class="icon-bar"></span>
		          		</button>
		          		<a class="navbar-brand" href="#">Notre beau logo</a>	
		        	</div>
		        	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		          		<ul class="nav navbar-nav pull-right navb">
		            		<li class="navbar-text"  >Heure du serveur : 15:45:13</li>
		            		<li class="navbar-text" >Prochaine attaque dans : 00:54:35 </li>
		            		<form action="/" method="post" class="btn"><button type="submit" class="navbar-btn btn btn-danger"  value="Retour chez les vivants ?!" style="margin-top:0px;">Retour chez les vivants</button></form>
		          		</ul>
		        	</div><!--/.nav-collapse -->
		     	</div>
		    </nav>

		    <div style="background-color: rgba(161, 161, 161, 0.6); ;padding-left : 4%;padding-right:2%;padding-top:2%;padding-bottom:2%;margin-bottom:1%;margin-top:1% ;border-radius:15px; " class="col-md-10 col-md-offset-1">
		    
				 <p>
				<% if(dateDebut) { %>
					Session <%= idSession %> : <%= dateDebut %> - <%= dateFin %>
				<% } else {%>
					Pas de session en cours !
				<% }%>
				</p>
				<form action="/admin" method="POST">
					<table class="classement table">
						<thead class="classementHead" style="color:#FFFFFF;">
							<tr>
								<th></th>
								<th>Pseudo</th>
								<th>Email</th>
								<th>Equipe</th>
								<th>Id User</th>
								<th>Id Perso</th>
								<th>Id Session</th>
							</tr>
						</thead>
						<tbody id="tableContent">
						
						</tbody>
						<tfoot>
						</tfoot>
					</table>
					<input type="submit" name="action" value="delete">
				</form>
				<br>
				<form action="/admin" method="POST">
					<input type="hidden" name="_method" value="PUT"/>
					<select name="year">
						<option value="2014">2014</option>
						<option value="2015">2015</option>
						<option value="2016">2016</option>
						<option value="2017">2017</option>
						<option value="2018">2018</option>
					</select> 
					<select name="month">
						<option value="0">Janvier</option>
						<option value="1">Février</option>
						<option value="2">Mars</option>
						<option value="3">Avril</option>
						<option value="4">Mai</option>
						<option value="5">Juin</option>
						<option value="6">Juillet</option>
						<option value="7">Aout</option>
						<option value="8">Septembre</option>
						<option value="9">Octobre</option>
						<option value="10">Novembre</option>
						<option value="11">Décembre</option>
					</select> 
					<select id="day" name="day">
					</select> 
					
					<input type="submit" name="action" value="demarrer"/>
					<input type="submit" name="action" value="update"/>
					<input type="submit" name="action" value="stop"/>
					<br><br>
					<input type="submit" name="action" value="remplir"/>
				</form>
				<a href="/">go back to human</a>
		    </div>

		    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/view/js/jquery-1.7.2.min.js"><\/script>')</script>
		
	<!-- Script nécessaires pour le serveur -->
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	
	<script>
		/*********** EVENEMENTS LORS DE RECEPETION D'UNE COMMUNICATION SERVEUR -> CLIENT **************/
		//var socket = io.connect('http://192.168.0.24:25536');
		var socket = io.connect('http://localhost:25536');
		
		$( document ).ready(function()
		{
			socket.emit('INFO_USER_CS', '<%= idUser %>', '<%= username %>', "admin");
		});
		
		socket.on('USERS_ADMIN_SC', function(listUsers)
		{
			var maChaine = "";
			for(var i in listUsers)
			{
				maChaine = "<tr><td><p><input type='radio' name='idUser' value='" + listUsers[i].id + "'></p></td><td><p>";
				maChaine += listUsers[i].pseudo;
				maChaine += "</a></p></td><td><p>";
				maChaine += listUsers[i].email;
				maChaine += "</p></td><td><p>";
				maChaine += listUsers[i].numEquipe;
				maChaine += "</p></td><td><p>";
				maChaine += listUsers[i].id;
				maChaine += "</p></td><td><p>";
				maChaine += listUsers[i].idPersonnage;
				maChaine += "</p></td><td><p>";
				maChaine += listUsers[i].idSession;
				maChaine += "</p></td></tr>";
				
				$("#tableContent").append(maChaine);
			}
			
			for(var i = 1; i < 32 ; i++)
			{
				$("#day").append("<option value='" + i + "'>" + i + "</option>");
			}
		});
		
	</script>
	</body>
</html>