<!DOCTYPE html>

	<html class="no-js">
		<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

			<link href="../public/bootstrap/css/bootstrap.css" rel="stylesheet">
			<title>Zomb'IstiA - Plateau de jeu</title>

			<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<!-- Script nécessaires pour le serveur -->
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
		<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->

		<script>
			var createjs = window;
			var socket = io.connect('http://localhost:25536');
			socket.emit('INFO_USER_CS', '<%= sessionID %>', '<%= username %>', 'game');
		</script>
		<script type="text/javascript" src="../src/createjs/events/Event.js"></script>
		<script type="text/javascript" src="../src/createjs/events/EventDispatcher.js"></script>
		<script type="text/javascript" src="../src/createjs/utils/IndexOf.js"></script>
		<script type="text/javascript" src="../src/easeljs/utils/UID.js"></script>
		<script type="text/javascript" src="../src/easeljs/utils/Ticker.js"></script>
		<script type="text/javascript" src="../src/easeljs/geom/Matrix2D.js"></script>
		<script type="text/javascript" src="../src/easeljs/geom/Point.js"></script>
		<script type="text/javascript" src="../src/easeljs/geom/Rectangle.js"></script>
		<script type="text/javascript" src="../src/easeljs/display/Shadow.js"></script>
		<script type="text/javascript" src="../src/easeljs/display/SpriteSheet.js"></script>
		<script type="text/javascript" src="../src/easeljs/display/Graphics.js"></script>
		<script type="text/javascript" src="../src/easeljs/display/DisplayObject.js"></script>
		<script type="text/javascript" src="../src/easeljs/display/Container.js"></script>
		<script type="text/javascript" src="../src/easeljs/display/Stage.js"></script>
		<script type="text/javascript" src="../src/easeljs/display/Bitmap.js"></script>
		<script type="text/javascript" src="../src/easeljs/display/Sprite.js"></script>
		<script type="text/javascript" src="../src/easeljs/display/BitmapAnimation.js"></script>
		<script type="text/javascript" src="../src/easeljs/display/BitmapText.js"></script>
		<script type="text/javascript" src="../src/easeljs/display/Shape.js"></script>
		<script type="text/javascript" src="../src/easeljs/display/Text.js"></script>
		<script type="text/javascript" src="../src/easeljs/display/DOMElement.js"></script>
		<script type="text/javascript" src="../src/easeljs/events/MouseEvent.js"></script>
		<script type="text/javascript" scriptrc="../src/easeljs/filters/Filter.js"></script>
		<script type="text/javascript" src="../src/easeljs/ui/ButtonHelper.js"></script>
		<script type="text/javascript" src="../src/easeljs/ui/Touch.js"></script>
		<script type="text/javascript" src="../src/easeljs/utils/SpriteSheetUtils.js"></script>
		<script type="text/javascript" src="../src/easeljs/utils/SpriteSheetBuilder.js"></script>
		<script type="text/javascript" src="/view/easeljs-0.7.0.min.js"></script>
		<!-- Note: All PreloadJS classes are listed here: -->
		<script type="text/javascript" src="../src/createjs/utils/Proxy.js"></script>
		<script type="text/javascript" src="../src/preloadjs/AbstractLoader.js"></script>
		<script type="text/javascript" src="../src/preloadjs/LoadQueue.js"></script>
		<script type="text/javascript" src="../src/preloadjs/TagLoader.js"></script>
		<script type="text/javascript" src="../src/preloadjs/XHRLoader.js"></script>
		<script type="text/javascript" src="/view/js/HeureLocale.js"></script>
		<script type="text/javascript" src="/view/canvas.js"></script>
		</head>
		<body >
		<!-- habillage -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
	        	<div class="navbar-header">
	         		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
		            	<span class="sr-only">Toggle navigation</span>
		            	<span class="icon-bar"></span>
		            	<span class="icon-bar"></span>
		            	<span class="icon-bar"></span>
	          		</button>
	          		<a class="navbar-brand" href="#">Zomb'IstiA</a>	
	        	</div>
	        	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
	          		<ul class="nav navbar-nav pull-right navb">

		            		<li class="navbar-text" id="HeureServeur" > </li>
		            		<li class="navbar-text" > Prochaine attaque à : <%= heureAttaque.toLocaleTimeString() %> </li>

							<li>
			            		<form action="/" method="post" class="btn">
			            			<input type="hidden" name="_method" value="delete"/>
			            			<button type="submit" class="navbar-btn btn btn-danger"  value="Retour chez les vivants ?!" style="margin-top:0px;">Retour chez les vivants</button>
			            		</form>
		            		</li>
	          		</ul>
	        	</div><!--/.nav-collapse -->
	     	</div>
	    </nav>
	    <div class="container-fluid">
	    	<div class="row">
	    	<div class="col-md-2 sidebar" >
	    		<ul class="nav nav-sidebar nav-pills nav-stacked ">
	    			<li><a href="/">Accueil</a></li>
	    		
					<li class="divider"><hr/></li>
	    			

	    			<li ><a href="/regles">Règles</a></li>
	    			<li><a href="/tutoriel">Tutoriel</a></li>
	    		
	    			<li class="divider"><hr/></li>
	    			<li class="nav-sidebar active"><a href="/jeu#les_scores">Jeu</a></li>
	    			<li><a href="/chat-general">Chats</a></li>
	    		
	    			<li class="divider"><hr/></li>
	    			<li><a href="/classement">Classement</a></li>
	    		</ul>

	    	</div>

	    	<!-- core de la page -->

	    	<% if(idEquipe == 0 || !isUpToDate) { %>
	    	<div class="col-md-10 col-md-offset-2 col-sm-offset-2" >
	    		<div  style="background-color: rgba(161, 161, 161, 0.6); ;padding-left : 2%;padding-right : 2%;padding-bottom:2%;padding-top:4%;margin-bottom:1%;border-radius:15px;min-height:850px; ">
	    		<h1>Aux portes de l'enfer...</h1>
	    		
	    		<!-- si différente session que l'actuelle -->
	    		<% if(!isUpToDate && idEquipe != 0) { %>
	    			<!-- -->
	    			<div class="alert-error" style="font-size: 20px; padding-top:2%;padding-bottom:0;margin-bottom:1%;">
	    			<p><b><font color="#770000">Une nouvelle session a commencé depuis votre dernière connexion !</font></b></p>
	    			<br>
	    			</div>

	    			<!-- *************** RESUME DES SCORES DE LA DERNIERE SESSION ******************** -->
	    			<% if (bilanScores["lastIdSession"] != -1 ) { %>
	    			<h2> Résumé de des scores de votre dernière session : (session n°<%= bilanScores["lastIdSession"]%>)</h2>
	    			<b><p>Session commencée le <i><%= dateLastSession["dateDebut"].toLocaleDateString() %> à <%= dateLastSession["dateDebut"].toLocaleTimeString() %></i>
	    			 et achevée le <i><%= dateLastSession["dateFin"].toLocaleDateString() %> à <%= dateLastSession["dateFin"].toLocaleTimeString() %></i></p></b>
	    			<% } //fin if %>

	    				<br>
						<table class="table table-striped" style="width:48%;float:left;">
								<thead>
									<th colspan="3"><h4><b>Scores globaux par équipes : </b></h4></th>
								</thead>
								<tr>
									<td height="60"><b><p>Equipe</p></b></td>
									<td height="60"><b><p>Participants</p></b></td>
									<td height="60"><b><p>Score par meurtres</p></b></td>
									<td height="60"><b><p>Score par objets</p></b></td>
									<td height="60"><b><p>Total</p></b></td>
								</tr>
									
								<tr >
									<td height="60"><p>AGI</p></td>
									<td height="60"><p><%= bilanScores_last["nbrAGI"]%> </p></td>
									<td height="60"><p><%= bilanScores_last["scoreAGI_meurtre"]%> point(s)</p></td>
									<td height="60"><p><%= bilanScores_last["scoreAGI_odd"]%> point(s)</p></td>
									<td height="60"><b><p><%= bilanScores_last["scoreAGI"]%> point(s)</p></b></td>
								</tr>
								<tr>
									<td height="60"><p>INNO</p></td>
									<td height="60"><p><%= bilanScores_last["nbrINNO"]%> </p></td>
									<td height="60"><p><%= bilanScores_last["scoreINNO_meurtre"]%> point(s)</p></td>
									<td height="60"><p><%= bilanScores_last["scoreINNO_odd"]%> point(s)</p></td>
									<td height="60"><b><p><%= bilanScores_last["scoreINNO"]%> point(s)</p></b></td>
								</tr>
								<tr>
									<td height="60"><p>QSF</p></td>
									<td height="60"><p><%= bilanScores_last["nbrQSF"]%> </p></td>
									<td height="60"><p><%= bilanScores_last["scoreQSF_meurtre"]%> point(s)</p></td>
									<td height="60"><p><%= bilanScores_last["scoreQSF_odd"]%> point(s)</p></td>
									<td height="60"><b><p><%= bilanScores_last["scoreQSF"]%> point(s)</p></b></td>
								</tr>
							</table>
						

						<table class="table table-striped " style="width:48%; float:right;">
							<thead>
								<th style="width:50%;"> <h4><b>Vos scores :</h4></b></th>
							</thead>
							<tr>
								<td height="40"><b><p>Type</p></b></td>
								<td height="40"><b><p>Nombre</p></b></td>
								<td height="40"><b><p>Gain en points</p></b></td>
							</tr>
							<tr>
								<td height="40"><p>Objets de défenses ramenés</p></td>
								<td height="40"><p>Aucune info</p></td>
								<td height="40"><p><%= bilanScores_last["scoreODD"]%> point(s)</p></td>
							</tr>
							<tr>
								<td height="40"><p>Nombre par meurtres</p></td>
								<td height="40"><p><%= bilanScores_last["nbrMeurtres"]%></p></td>
								<td height="40"><p><%= bilanScores_last["scoreMeurtre"]%> point(s)</p></td>
							</tr>
							<tr>
								<td height="40"><p>Nombre de fois tués</p></td>
								<td height="40"><p><%= bilanScores_last["nbrFoisTue"]%></p></td>
								<td height="40"><p>0 point</p></td>
							</tr>
							<tr>
								<td height="40"><p>Nombre de zombies tués</p></td>
								<td height="40"><p><%= bilanScores_last["nbrGoulesTues"]%></p></td>
								<td height="40"><p>Pas de point</p></td>
							</tr>
							<tr>
								<td height="40"><p>TOTAL</p></td>
								<td height="40"><p>X</p></td>
								<td height="40"><p><%= bilanScores_last["total"]%> point(s)</p></td>
							</tr>
						</table>
			<div class="col-md-12">			
	    	<p>Etes vous prêt à retenter l'aventure ? ...</p>
	    	<br>
	    	</div>
	    	<% } %>

	    	<!-- *************** CHOIX D'EQUIPE ******************** -->

	    	<h2> Entrée en enfer </h2>
	    	<p>
	    	Avant de pouvoir vous lancer dans l'aventure, vous devez encore choisir votre équipe et la compétence spéciale de votre personnage.
	    	<br>
	    	Vous avez le choix entre trois compétences :</p>
	    	<ul>
	    	<li><p>
	    	Vous pouvez être <b>UNE BRUTE</b>: Vous êtes là pour <b>protéger vos alliés</b> et <b>mener des assaults sur vos ennemis</b>, car vos attaques sont plus
	    	destructrices et vous suportez mieux les coups. En revanche, vous trouverez assez difficilement des objets pendant les fouilles et
	    	vous aurez de fortes chances d'être découvert pendant une fouille ennemi.
	    	<br>
	    	</p></li>
	    	<li><p>
	    	Vous pouvez être <b>UN EXPLORATEUR</b>: Vous êtes un éclaireur, spécialement dédié à <b>l'exploration de l'immense complexe</b>. Vous avez peu de chance d'être découvert
	    	durant une fouille ennemi et vous pourrez effectuer bien plus de mouvements que vos alliés. Cependant, faites attention à ne pas vous faire attaquer car vos points
	    	de défense sont relativement faibles.
	    	<br>
	    	</p></li>
	    	<li><p>
	    	Vous pouvez être <b>UN CHERCHEUR</b>: Vous êtes fait pour <b>fouiller les alentours</b> afin de trouver les objets nécessaires à votre victoire, car
	    	vos fouilles seront bien plus souvent fructueuses. Bien entendu cela a un coût, car vos attaques sont faibles et vos caches rarement fiables.
	    	<br>
	    	</p></li>
	    	</ul>
	    	
	    	<p><b>Préparation...</b></p>
	    	<br>

	    	<form class="choixEquipeform" name="formInitPerso" method="POST" action="/jeu#les_scores">
	    	<input type="hidden" name="_method" value="PUT">
	    	<p>Choisissez votre équipe :
	    	<select width: 10% name="equipe">
	    	<option value="1">AGI <%= bilanScores["nbrAGI_sessionEnCours"]%> joueur(s)</option>
	    	<option value="2">INNO <%= bilanScores["nbrINNO_sessionEnCours"]%> joueur(s)</option>
	    	<option value="3">QSF <%= bilanScores["nbrQSF_sessionEnCours"]%> joueur(s)</option>
	    	</select>
	    	Choisissez votre compétence :
	    	<select name="competence">
	    	<option value="brute">Brute</option>
	    	<option value="explorateur">Explorateur</option>
	    	<option value="chercheur">Chercheur</option>
	    	</select>
	    	<input type="submit" value="Tuer du zombie !" name="submitChoixDepart" />
	    	</p>
	    	</form>
	    </div>
	    </div>
	    	<% }  else 	 { %>
<!-- FIN AJOUT MAIMAIN -->	    
	    	
	    	<div class="col-md-10 col-md-offset-2 col-sm-offset-2" >

	    		<nav class="navbar " role="navigation" style="margin-bottom: -1px;margin-top:1%;margin-left:-1px;margin-right:-1px;">
	    				<ul class="nav navbar-nav col-md-12 " style="padding-right:0px;">
  					
	    					<li class="onglet col-md-4 "  ><a href="#les_scores"><b>Scores</b></a></li>
	    					<li class="divider"><hr/></li>
	    					<li class="onglet col-md-4" ><a href="#les_infos"><b>Info Sessions</b></a></li>
	    					<li class="divider"><hr/></li>
	    					<li class="onglet col-md-4"><a href="#le_jeu"><b>Plateau de jeu</b></a></li>		
	    				</ul>
	    		</nav>
	    		<div  style="background-color: rgba(161, 161, 161, 0.6); ;padding-left : 2%;padding-right : 2%;padding-bottom:2%;padding-top:4%;margin-bottom:1%;border-bottom-left-radius:15px;border-bottom-right-radius:15px; min-height:850px; ">

	    			

	    			
	    			<div >
	    				<article>
		    			
		    				<span id="le_jeu" class="hide"></span> 
		    				<div class="displayable">
		    					<div class="col-md-12 col-sm-12 col-xs-12" >
		    						<% if (idEquipe == 0 || !isUpToDate) { %>

		    						<% if(!isUpToDate && idEquipe != 0) { %>
		    							<!-- Une Nouvelle session a été lancé ! -->
		    							<h1> Une Nouvelle session a été lancé ! </h1>
		    						<% } %>
									<!-- *************** CHOIX D'EQUIPE ******************** -->

									<br>
									<h2> Entrée en enfer </h2>
									<p>
										Avant de pouvoir vous lancer dans l'aventure, vous devez encore choisir votre équipe et la compétence spéciale de votre personnage.
										<br>
										Vous avez le choix entre trois compétences :
										<ul>
											<li>
												Vous pouvez être <b>UNE BRUTE</b>: Vous êtes là pour <b>protéger vos alliés</b> et <b>mener des assaults sur vos ennemis</b>, car vos attaques sont plus
												destructrices et vous suportez mieux les coups. En revanche, vous trouverez assez difficilement des objets pendant les fouilles et 
												vous aurez de fortes chances d'être découvert pendant une fouille ennemi.
												<br>
											</li>
											<li>
												Vous pouvez être <b>UN EXPLORATEUR</b>: Vous êtes un éclaireur, spécialement dédié à <b>l'exploration de l'immense complexe</b>. Vous avez peu de chance d'être découvert
												durant une fouille ennemi et vous pourrez effectuer bien plus de mouvements que vos alliés. Cependant, faites attention à ne pas vous faire attaquer car vos points 
												de défense sont relativement faibles.
												<br>
											</li>
											<li>
												Vous pouvez être <b>UN CHERCHEUR</b>: Vous êtes fait pour <b>fouiller les alentours</b> afin de trouver les objets nécessaires à votre victoire, car 
												vos fouilles seront bien plus souvent fructueuses. Bien entendu cela a un coût, car vos attaques sont faibles et vos caches rarement fiables.
												<br>
											</li>
										</ul>
									</p>
									<b>Préparation...</b>

									<form class="choixEquipeform" name="formInitPerso" method="POST" action="/jeu">
										<input type="hidden" name="_method" value="PUT">
										Choisissez votre équipe :
										<select width: 10% name="equipe">
												<option value="1">AGI <%= bilanScores["nbrAGI_sessionEnCours"]%> joueur(s)</option>
												<option value="2">INNO <%= bilanScores["nbrINNO_sessionEnCours"]%> joueur(s)</option>
												<option value="3">QSF <%= bilanScores["nbrQSF_sessionEnCours"]%> joueur(s)</option>
										</select>
										Choisissez votre compétence :
										<select name="competence">
												<option value="brute">Brute</option>
												<option value="explorateur">Explorateur</option>
												<option value="chercheur">Chercheur</option>
										</select>
												<input type="submit" value="Tuer du zombie !" name="submitChoixDepart" />
									</form>
									<% } else { %>
					    				<canvas id="myCanvas" style="display:block;  border:1px solid #000000;"  width="1100" height="620" ></canvas>

										<textarea readonly id="msgs" rows="2" name="msgTextAreaRapide"  class="col-md-12 col-sm-12 col-xs-12 " > </textarea>
										
										<input class="col-md-10 col-sm-10 col-xs-10 " type="text" placeholder="Votre message" id="msgTextBox"/>
										
										<input class="col-md-2 col-sm-2 col-xs-2" type="submit" value="Envoyer !" id="msgSubmit"/>

									<% } %>
								</div>
							</div>
						</article>

						<article>
							<span id="les_scores" class="hide"></span>
							<div class="displayable">
								<div class="col-md-12 col-sm-12  ">
									<form action="" method="post" class="btn" style="float:right;">
			            			<input type="hidden" name="_method" value="delete"/>
			            			<button type="submit" class="navbar-btn btn btn-danger"  value="Retour chez les vivants ?!" style="margin-top:0px;">Rafairchir les scores</button>
			            		</form>

							<% if (bilanScores["lastIdSession"] != -1 ) { %>
								<h2> Résumé des scores de la session n°<%= bilanScores["lastIdSession"]%> :</h2>

								
								<b><h3>Session commencée le <%= dateLastSession["dateDebut"] %> et achevée le <%= dateLastSession["dateFin"] %></h3></b>
							<% } %>

							
							
							<table class="table table-striped" style="width:48%;float:left;">
								<thead>
									<!-- <th colspan="2" style="width:100%;"><h4><b>Scores globaux : </b></h4></th> -->
									<th colspan="3"><h4><b>Scores globaux par équipes : </b></h4></th>
								</thead>
								<tr>
									<td height="60"><b><p>Equipe</p></b></td>
									<td height="60"><b><p>Participants</p></b></td>
									<td height="60"><b><p>Score par meurtres</p></b></td>
									<td height="60"><b><p>Score par objets</p></b></td>
									<td height="60"><b><p>Total</p></b></td>
								</tr>
									
								<tr >
									<td height="60"><p>AGI</p></td>
									<td height="60"><p><%= bilanScores["nbrAGI"]%> </p></td>
									<td height="60"><p><%= bilanScores["scoreAGI_meurtre"]%> point(s)</p></td>
									<td height="60"><p><%= bilanScores["scoreAGI_odd"]%> point(s)</p></td>
									<td height="60"><b><p><%= bilanScores["scoreAGI"]%> point(s)</p></b></td>
								</tr>
								<tr>
									<td height="60"><p>INNO</p></td>
									<td height="60"><p><%= bilanScores["nbrINNO"]%> </p></td>
									<td height="60"><p><%= bilanScores["scoreINNO_meurtre"]%> point(s)</p></td>
									<td height="60"><p><%= bilanScores["scoreINNO_odd"]%> point(s)</p></td>
									<td height="60"><b><p><%= bilanScores["scoreINNO"]%> point(s)</p></b></td>
								</tr>
								<tr>
									<td height="60"><p>QSF</p></td>
									<td height="60"><p><%= bilanScores["nbrQSF"]%> </p></td>
									<td height="60"><p><%= bilanScores["scoreQSF_meurtre"]%> point(s)</p></td>
									<td height="60"><p><%= bilanScores["scoreQSF_odd"]%> point(s)</p></td>
									<td height="60"><b><p><%= bilanScores["scoreQSF"]%> point(s)</p></b></td>
								</tr>
							</table>
						

						<table class="table table-striped " style="width:48%; float:right;">
							<thead>
								<th style="width:50%;"> <h4><b>Vos scores :</h4></b></th>
							</thead>
							<tr>
								<td height="40"><b><p>Type</p></b></td>
								<td height="40"><b><p>Nombre</p></b></td>
								<td height="40"><b><p>Gain en points</p></b></td>
							</tr>
							<tr>
								<td height="40"><p>Objets de défenses ramenés</p></td>
								<td height="40"><p>Aucune info</p></td>
								<td height="40"><p><%= bilanScores["scoreODD"]%> point(s)</p></td>
							</tr>
							<tr>
								<td height="40"><p>Nombre par meurtres</p></td>
								<td height="40"><p><%= bilanScores["nbrMeurtres"]%></p></td>
								<td height="40"><p><%= bilanScores["scoreMeurtre"]%> point(s)</p></td>
							</tr>
							<tr>
								<td height="40"><p>Nombre de fois tués</p></td>
								<td height="40"><p><%= bilanScores["nbrFoisTue"]%></p></td>
								<td height="40"><p>0 point</p></td>
							</tr>
							<tr>
								<td height="40"><p>Nombre de zombies tués</p></td>
								<td height="40"><p><%= bilanScores["nbrGoulesTues"]%></p></td>
								<td height="40"><p>Pas de points</p></td>
							</tr>
							<tr>
								<td height="40"><p>TOTAL</p></td>
								<td height="40"><p>X</p></td>
								<td height="40"><p><%= bilanScores["total"]%> point(s)</p></td>
							</tr>
						</table>
					</div>
						
						
								<!-- *************** INFOS SUR LES SCORES PROVISIOIRES ******************** -->
						<div class="col-md-12 col-sm-12">
							<h2>Scores provisoires</h2>
							<br>

									<table text-align:center class="table table-striped">
										<thead class="thead">
										<tr>
											<th width="20%"><b><p>Type</p></b></td>
											<th width="20%"><b><p>AGI <i>(<%= bilanScores["nbrAGI"]%> joueur(s))</i></p></b></td>
											<th width="20%"><b><p>INNO <i>(<%= bilanScores["nbrINNO"]%> joueur(s))</i></p></b></b></td>
											<th width="20%"><b><p>QSF <i>(<%= bilanScores["nbrQSF"]%> joueur(s))</i></p></b></b></td>
											<th width="20%"><b><p>Vous</p></b></td>
										</tr>
										</thead>
										<tbody class="tbody">
										<tr>
											<td width="20%"><b><p>Défenses ramenées</p></b></td>
											<td width="20%"><p><%= bilanScores["scoreAGI_odd"]%> point(s)</p></td>
											<td width="20%"><p><%= bilanScores["scoreINNO_odd"]%> point(s)</p></td>
											<td width="20%"><p><%= bilanScores["scoreQSF_odd"]%> point(s)</p></td>
											<td width="20%"><p><%= bilanScores["scoreODD"]%> point(s)</p></td>
										</tr>
										<tr>
											<td width="20%"><b><p>Combats à morts</p></b></td>
											<td width="20%"><p><%= bilanScores["scoreAGI_meurtre"]%> point(s)</p></td>
											<td width="20%"><p><%= bilanScores["scoreINNO_meurtre"]%> point(s)</p></td>
											<td width="20%"><p><%= bilanScores["scoreQSF_meurtre"]%> point(s)</p></td>
											<td width="20%"><p><%= bilanScores["scoreMeurtre"]%> point(s)</p></td>
										</tr>
										<tr>
											<td width="20%"><b><p><i> -> Assassinats</i></p></b></td>
											<td width="20%"><i><p>(<%= bilanScores["AGI_meurtres"]%> meurtres)</p></i></td>
											<td width="20%"><i><p>(<%= bilanScores["INNO_meurtres"]%> meurtres)</p></i></td>
											<td width="20%"><i><p>(<%= bilanScores["QSF_meurtres"]%> meurtres)</p></i></td>
											<td width="20%"><i><p>(<%= bilanScores["nbrMeurtres"]%> meurtres)</p></i></td>
										</tr>
										<tr>
											<td width="20%"><b><p><i> -> Pertes</i></p></b></td>
											<td width="20%"><i><p><%= bilanScores["AGI_tués"]%> tués</p></i></td>
											<td width="20%"><i><p><%= bilanScores["INNO_tués"]%> tués</p></i></td>
											<td width="20%"><i><p><%= bilanScores["QSF_tués"]%> tués</p></i></td>
											<td width="20%"><i><p><%= bilanScores["nbrFoisTue"]%> fois</p></i></td>
										</tr>
										<tr>
											<td width="20%"><b><p>Zombies tués</p></b></td>
											<td width="20%"><p><%= bilanScores["AGI_zombies"]%> zombie(s)</p></td>
											<td width="20%"><p><%= bilanScores["INNO_zombies"]%> zombie(s)</p></td>
											<td width="20%"><p><%= bilanScores["QSF_zombies"]%> zombie(s)</p></td>
											<td width="20%"><p><%= bilanScores["nbrGoulesTues"]%> zombie(s)</p></td>
										</tr>
										<tr>
											<td width="20%"><b><p>TOTAL</p></b></td>
											<td width="20%"><p><b><%= bilanScores["scoreAGI"]%> point(s)</b></p></td>
											<td width="20%"><p><b><%= bilanScores["scoreINNO"]%> point(s)</b></p></td>
											<td width="20%"><p><b><%= bilanScores["scoreQSF"]%> point(s)</b></p></td>
											<td width="20%"><p><b><%= bilanScores["total"]%> point(s)</b></p></td>
										</tr>
								</tbody>

							</table>
						</div>
			</div>
					</article>
					<article>
						<span id="les_infos" class="hide"></span>
						<div class="displayable">
							<div class="col-md-12 col-sm-12  ">
								<h2>Information sur la session en cours</h2>
									<table class="table table-striped"  style="width:48%;float:left;">
										<thead>
											<tr>
											<th><b><p>Dates clés</p></b></th>
											</tr>
										</thead>
											<tbody>
											<tr>
												<td width=50% height="60"><b><p>Numéro de session : </p></b></td>
												<td height="60"><p><%= sessionInfo["id"]%></p></td>
											</tr> 
											<tr>
												<td height="50"><b><p>Date de début : </p></b></td>
												<td height="50"><p><%= sessionInfo["dateDebut"].toLocaleDateString()  %></p></td>
											</tr>
											<tr>
												<td height="50"><b><p>Date de fin : </p></b></td>
												<td height="50"><p><%= sessionInfo["dateFin"].toLocaleDateString() %></p></td>
											</tr>
										</tbody>
									</table>

									
									<table class = "table table-striped"  style="width:48%;float:right;">
										<thead>
											<tr>
											<th><b><p>Paramètres des attaques</p></b></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td width=50% height="60"><p><b>Heure de la prochaine attaque : </p></b></td>
												<td height="60"><p><%= heureAttaque %></p></td>
											</tr>
											<tr>

												<td height="50"><b><p>Heure locale : </p></b></td>
												<td height="50"><p><span id="HeureLocale"></span></p>	</td>

											</tr>
											<tr>
												<td height="50"><b><p>Fréquence des attaques : </p></b></td>
												<td height="50"><p><%= dureeCycle %> heure(s)</p></td>
											</tr>
										</tbody>
									</table></td>

								</table>
							</div>
						</div>					
						<!-- DEBUT AJOUT MAIMAIN -->	
						<% } %>
						<!-- FIN AJOUT MAIMAIN -->
					</article>
					</div>
	    		</div>
	    	</div>

	    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
			<script>window.jQuery || document.write('<script src="/view/js/jquery-1.7.2.min.js"><\/script>')</script>

			<script name="scriptChatEquipe">
				/*********** EVENEMENTS LORS DE RECEPETION D'UNE COMMUNICATION SERVEUR -> CLIENT **************/
				//var chat = io.connect('http://192.168.0.24:25536/chat-general');
				var chatEquipe = io.connect('http://localhost:25536/chat-equipe');
				
				$( document ).ready(function()
				{
					chatEquipe.emit('INFO_USER_CS', '<%= sessionID %>', '<%= username %>');
				});
				
				chatEquipe.on('USER_MESSAGE_SC', function(user, message)
				{
					$("#msgs").append("" + user + " : " + message + "\n");

					// scroll automatique tout en bas du texte area
					document.getElementById("msgs").scrollTop =    document.getElementById("msgs").scrollHeight
				});
				
				$("#msgSubmit").click(function()
				{
					sendMessage();
				});
				
				$('#msgTextBox').keydown(function (e){
				if(e.keyCode == 13){
					sendMessage();
				}
				});
				
				sendMessage = function()
				{
					var message = $("#msgTextBox").val();
					if(message != "")
					{
						chatEquipe.emit("USER_MESSAGE_CS", '<%= username %>', message);
					}
					$("#msgTextBox").val("");
				}
				
				socket.on("DECONEXION_SC", function(msg)
				{
					alert(msg);
					$.post("/", { _method: "delete" }, function()
					{
						document.location = "/";
					});
				});
			</script>

			<script name="MajHeureLocale">

				var date = new Date("<%= heureLocale %>");
				$("#HeureLocale").text(date.toLocaleTimeString());
				$("#HeureServeur").text("Heure du serveur : " + date.toLocaleTimeString());

				setInterval(function ()
				{
					date.setSeconds(date.getSeconds() + 1);
					$("#HeureLocale").text(date.toLocaleTimeString());
					$("#HeureServeur").text("Heure du serveur : " + date.toLocaleTimeString());
				}, 1000);

			</script>
		</body>
	</html> 

