

<!DOCTYPE html>
<!-- Consider specifying the language of your content by adding the `lang` attribute to <html> -->
<!--[if lt IE 7]>
<html class="no-js ie6">
   <![endif]-->
   <!--[if IE 7]>
   <html class="no-js ie7">
      <![endif]-->
      <!--[if IE 8]>
      <html class="no-js ie8">
         <![endif]-->
         <!--[if gt IE 8]><!-->
         <html class="no-js">
            <!--<![endif]-->
            <head>
               <meta charset="utf-8">
               <!-- Always force latest IE rendering engine & Chrome Frame -->
               <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
               <!-- Put your title here! -->
               <title>Zomb'IstiA - Plateau de jeu</title>
               <meta name="description" content="">
               <!-- Mobile viewport optimized: h5bp.com/viewport -->
               <meta name="viewport" content="width=device-width">
               <link href="/public/stylesheets/style.css" rel="stylesheet">
               <script type="text/javascript" src="/socket.io/socket.io.js"></script>
               <!-- Script nécessaires pour le serveur -->
               <!--<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
                  <script src="/socket.io/socket.io.js"></script>
                  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
               <!--><script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->
               <script>
                  var createjs = window;
                  var socket = io.connect('http://localhost:25536');
               </script>
               <script type="text/javascript" src="../src/createjs/events/Event.js"></script>
               <script type="text/javascript" src="../src/createjs/events/EventDispatcher.js"></script>
               <script type="text/javascript" src="../src/createjs/utils/IndexOf.js"></script>
               <script type="text/javascript" src="../src/easeljs/utils/UID.js"></script>
               <script type="text/javascript" src="../src/easeljs/utils/Ticker.js"></script>
               <script type="text/javascript" src="../src/easeljs/geom/Matrix2D.js"></script>
               <script type="text/javascript" src="../src/easeljs/geom/Point.js"></script>
               <script type="text/javascript" src="../src/easeljs/geom/Rectangle.js"></script>
               <script type="text/javascript" src="../src/easeljs/display/Shadow.js"></script>
               <script type="text/javascript" src="../src/easeljs/display/SpriteSheet.js"></script>
               <script type="text/javascript" src="../src/easeljs/display/Graphics.js"></script>
               <script type="text/javascript" src="../src/easeljs/display/DisplayObject.js"></script>
               <script type="text/javascript" src="../src/easeljs/display/Container.js"></script>
               <script type="text/javascript" src="../src/easeljs/display/Stage.js"></script>
               <script type="text/javascript" src="../src/easeljs/display/Bitmap.js"></script>
               <script type="text/javascript" src="../src/easeljs/display/Sprite.js"></script>
               <script type="text/javascript" src="../src/easeljs/display/BitmapAnimation.js"></script>
               <script type="text/javascript" src="../src/easeljs/display/BitmapText.js"></script>
               <script type="text/javascript" src="../src/easeljs/display/Shape.js"></script>
               <script type="text/javascript" src="../src/easeljs/display/Text.js"></script>
               <script type="text/javascript" src="../src/easeljs/display/DOMElement.js"></script>
               <script type="text/javascript" src="../src/easeljs/events/MouseEvent.js"></script>
               <script type="text/javascript" src="../src/easeljs/filters/Filter.js"></script>
               <script type="text/javascript" src="../src/easeljs/ui/ButtonHelper.js"></script>
               <script type="text/javascript" src="../src/easeljs/ui/Touch.js"></script>
               <script type="text/javascript" src="../src/easeljs/utils/SpriteSheetUtils.js"></script>
               <script type="text/javascript" src="../src/easeljs/utils/SpriteSheetBuilder.js"></script>
               <script type="text/javascript" src="/view/easeljs-0.7.0.min.js"></script>
               <!-- Note: All PreloadJS classes are listed here: -->
               <script type="text/javascript" src="../src/createjs/utils/Proxy.js"></script>
               <script type="text/javascript" src="../src/preloadjs/AbstractLoader.js"></script>
               <script type="text/javascript" src="../src/preloadjs/LoadQueue.js"></script>
               <script type="text/javascript" src="../src/preloadjs/TagLoader.js"></script>
               <script type="text/javascript" src="../src/preloadjs/XHRLoader.js"></script>
               <script type="text/javascript" src="/view/js/HeureLocale.js"></script>
               <script type="text/javascript" src="/view/canvas.js"></script>
               <!-- Load Open Sans and Merriweather from Google Fonts
                  For optimal performance, customize it to load the styles you need:
                  http://goo.gl/QufgJ
                  -->
               <link href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Merriweather:400,700,900" rel="stylesheet">
               <!-- All JavaScript at the bottom, except for Modernizr
                  Modernizr enables HTML5 elements & feature detects; It includes Respond, a polyfill for min/max-width CSS3 Media Queries
                  For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
               <script src="/view/js/modernizr-2.6.1.min.js"></script>
            </head>
            <body>
               <!-- Prompt IE 6 and 7 users to install Chrome Frame: chromium.org/developers/how-tos/chrome-frame-getting-started -->
               <!--[if lt IE 8]>
               <p class="chromeframe alert alert-warning">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
               <![endif]-->
               <header id="master-header" class="clearfix" role="banner">
                  <hgroup>
                     <h1 id="site-title"><a href="/" title="">Zomb'IstiA</a></h1>
                     <h2 id="site-description">L'action se déroule ici !</h2>
                  </hgroup>
               </header>
               <!-- #master-header -->
               <div id="main" class="row clearfix">
                  <!-- Main navigation -->
                  <nav class="main-navigation clearfix span12" role="navigation">
                     <h3 class="assistive-text">Menu principal</h3>
                     <ul>
                        <li class="span2">
                           <a href="/">Accueil</a>
                        </li>
                        <li class="current span2">
                           <a href="regles">But du jeu</a>
                           <ul class="sub-menu">
                              <li>
                                 <a href="tutoriel">Tutoriel</a>
                              </li>
                           </ul>
                        </li>
                        <li class="current span2">
                           <a href="jeu">Jeu</a>
                           <ul class="sub-menu">
                              <li>
                                 <a href="chat-equipe">Chat de l'équipe</a>
                              </li>
                           </ul>
                        </li>
                        <li class="span2">
                           <a href="classement">Classement</a>
                        </li>
                        <li class="span2">
                           <a href="chat-general">Chat</a>
                        </li>
                     </ul>
                  </nav>
                  <!-- #main-navigation -->
                  <form id="LogoutForm" class="logoutform" action="/" method=POST>
                     <input type=hidden name="_method" value="delete"/>
                     <div>
                        Bonjour <%= username %>
                     </div>
                     <input type="submit" value="Retourner chez les vivants ?" align=right>
                  </form>
                  <div id="content" role="main" class="span12">
                     <% if(idEquipe == 0 || !isUpToDate) { %>
                     <h1>Aux portes de l'enfer...</h1>
                     <% if(!isUpToDate && idEquipe != 0) { %>
                     <!-- -->
                     <div class="alert-error" style="font-size: 20px;">
                        <b>Une nouvelle session a commencé depuis votre dernière connexion !</b>
                        <br>
                     </div>
                     <!-- *************** RESUME DES SCORES DE LA DERNIERE SESSION ******************** -->
                     <% if (bilanScores["lastIdSession"] != -1 ) { %>
                     <h2> Résumé de des scores de votre dernière session : (session n°<%= bilanScores["lastIdSession"]%>)</h2>
                     <b>Session commencée le <%= dateLastSession["dateDebut"].toLocaleString() %> et achevée le <%= dateLastSession["dateFin"].toLocaleString() %></b>
                     <% } //fin if %>
                     <table>
                        <td width=50%>
                           <b>Scores globaux : </b>
                           <br>
                           <br>
                           <table>
                              <tr>
                                 <td><b>Equipe</b></td>
                                 <td><b>Participants</b></td>
                                 <td><b>Score par meurtres</b></td>
                                 <td><b>Score par objets</b></td>
                                 <td><b>Total</b></td>
                              </tr>
                              <tr>
                                 <td>AGI</td>
                                 <td> <%= bilanScores_last["nbrAGI"]%> </td>
                                 <td> <%= bilanScores_last["scoreAGI_meurtre"]%> point(s)</td>
                                 <td> <%= bilanScores_last["scoreAGI_odd"]%> point(s)</td>
                                 <td><b><%= bilanScores_last["scoreAGI"]%> point(s)</b></td>
                              </tr>
                              <tr>
                                 <td>INNO</td>
                                 <td><%= bilanScores_last["nbrINNO"]%> </td>
                                 <td><%= bilanScores_last["scoreINNO_meurtre"]%> point(s)</td>
                                 <td><%= bilanScores_last["scoreINNO_odd"]%> point(s)</td>
                                 <td><b><%= bilanScores_last["scoreINNO"]%> point(s)</b></td>
                              </tr>
                              <tr>
                                 <td>QSF</td>
                                 <td><%= bilanScores_last["nbrQSF"]%> </td>
                                 <td><%= bilanScores_last["scoreQSF_meurtre"]%> point(s)</td>
                                 <td><%= bilanScores_last["scoreQSF_odd"]%> point(s)</td>
                                 <td><b><%= bilanScores_last["scoreQSF"]%> point(s)</b></td>
                              </tr>
                           </table>
                           <br>
                        </td>
                        <td width=50%>
                           <b>Vos scores :</b>
                           <br>
                           <br>
                           <table>
                              <tr>
                                 <td><b>Type</b></td>
                                 <td><b>Nombre</b></td>
                                 <td><b>Gain en points</b></td>
                              </tr>
                              <tr>
                                 <td>Objets de défenses ramenés</td>
                                 <td>Aucune info</td>
                                 <td><%= bilanScores_last["scoreODD"]%> point(s)</td>
                              </tr>
                              <tr>
                                 <td>Nombre par meurtres</td>
                                 <td><%= bilanScores_last["nbrMeurtres"]%></td>
                                 <td><%= bilanScores_last["scoreMeurtre"]%> point(s)</td>
                              </tr>
                              <tr>
                                 <td>Nombre de fois tués</td>
                                 <td><%= bilanScores_last["nbrFoisTue"]%></td>
                                 <td>0 point</td>
                              </tr>
                              <tr>
                                 <td>Nombre de zombies tués</td>
                                 <td><%= bilanScores_last["nbrGoulesTues"]%></td>
                                 <td>Pas de point</td>
                              </tr>
                              <tr>
                                 <td>TOTAL</td>
                                 <td> X</td>
                                 <td><%= bilanScores_last["total"]%> point(s)</td>
                              </tr>
                           </table>
                           <br>
                        </td>
                     </table>
                     Etes vous prêt à retenter l'aventure ? ...
                     <% } %>
                     <!-- *************** CHOIX D'EQUIPE ******************** -->
                     <h2> Entrée en enfer </h2>
                     <p>
                        Avant de pouvoir vous lancer dans l'aventure, vous devez encore choisir votre équipe et la compétence spéciale de votre personnage.
                        <br>
                        Vous avez le choix entre trois compétences :
                     <ul>
                        <li>
                           Vous pouvez être <b>UNE BRUTE</b>: Vous êtes là pour <b>protéger vos alliés</b> et <b>mener des assaults sur vos ennemis</b>, car vos attaques sont plus
                           destructrices et vous suportez mieux les coups. En revanche, vous trouverez assez difficilement des objets pendant les fouilles et
                           vous aurez de fortes chances d'être découvert pendant une fouille ennemi.
                           <br>
                        </li>
                        <li>
                           Vous pouvez être <b>UN EXPLORATEUR</b>: Vous êtes un éclaireur, spécialement dédié à <b>l'exploration de l'immense complexe</b>. Vous avez peu de chance d'être découvert
                           durant une fouille ennemi et vous pourrez effectuer bien plus de mouvements que vos alliés. Cependant, faites attention à ne pas vous faire attaquer car vos points
                           de défense sont relativement faibles.
                           <br>
                        </li>
                        <li>
                           Vous pouvez être <b>UN CHERCHEUR</b>: Vous êtes fait pour <b>fouiller les alentours</b> afin de trouver les objets nécessaires à votre victoire, car
                           vos fouilles seront bien plus souvent fructueuses. Bien entendu cela a un coût, car vos attaques sont faibles et vos caches rarement fiables.
                           <br>
                        </li>
                     </ul>
                     </p>
                     <b>Préparation...</b>
                     <br>
                     <form class="choixEquipeform" name="formInitPerso" method="POST" action="/jeu">
                        <input type="hidden" name="_method" value="PUT">
                        Choisissez votre équipe :
                        <select width: 10% name="equipe">
                           <option value="1">AGI <%= bilanScores["nbrAGI_sessionEnCours"]%> joueur(s)</option>
                           <option value="2">INNO <%= bilanScores["nbrINNO_sessionEnCours"]%> joueur(s)</option>
                           <option value="3">QSF <%= bilanScores["nbrQSF_sessionEnCours"]%> joueur(s)</option>
                        </select>
                        Choisissez votre compétence :
                        <select name="competence">
                           <option value="brute">Brute</option>
                           <option value="explorateur">Explorateur</option>
                           <option value="chercheur">Chercheur</option>
                        </select>
                        <input type="submit" value="Tuer du zombie !" name="submitChoixDepart" />
                     </form>
                     <% } else { %>
                     <h1 class="entry-title" align=center> Plateau de jeu </h1>
                     <A href="#plateauDeJeu"><i>Cliquer ici pour centrer directement sur le jeu</i></a>
                     <!-- *************** INFOS SUR LA SESSION EN COURS ******************** -->
                     <h2>Information sur la session en cours</h2>
                     <table border="0">
                        <td width=50%>
                           <!--<b>Répartition des équipes</b>
                              <br>
                              <table>
                              <tr> <br> </tr>
                              <tr>
                              <td><b>AGI</b></td>
                              <td><b>INNO</b></td>
                              <td><b>QSF</b></td>
                              <td><b>TOTAL</b></td>
                              </tr>
                              <tr>
                              <td><%= bilanScores["nbrAGI"]%></td>
                              <td><%= bilanScores["nbrINNO"]%></td>
                              <td><%= bilanScores["nbrQSF"]%></td>
                              <td><%= bilanScores["nbrTotal"]%></td>
                              </tr>
                              </table>-->
                           <table>
                              <b>Dates clés</b>
                              <tr>
                                 <br>
                              </tr>
                              <br>
                              <tr>
                                 <td width=50%><b>Numéro de session : </b></td>
                                 <td><%= sessionInfo["id"]%></td>
                              </tr>
                              <tr>
                                 <td><b>Date de début : </b></td>
                                 <td><%= sessionInfo["dateDebut"].toLocaleDateString() %></td>
                              </tr>
                              <tr>
                                 <td><b>Date de fin : </b></td>
                                 <td><%= sessionInfo["dateFin"].toLocaleDateString() %></td>
                              </tr>
                           </table>
                        </td>
                        <td width=50%>
                           <table>
                              <b>Paramètres des attaques</b>
                              <br>
                              <tr>
                                 <br>
                              </tr>
                              <tr>
                                 <td width=50%><b>Heure de la prochaine attaque : </b></td>
                                 <td><%= heureAttaque %></td>
                              </tr>
                              <tr>
                                 <td><b>Heure locale : </b></td>
                                 <td>
                                    <span id="HeureLocale"></span>
                                    <script type="text/javascript">
                                       HeureLocale('HeureLocale');
                                    </script>
                                 </td>
                              </tr>
                              <tr>
                                 <td><b>Fréquence des attaques : </b></td>
                                 <td><%= dureeCycle %> heure(s)</td>
                              </tr>
                           </table>
                        </td>
                     </table>
                     <!-- *************** INFOS SUR LES SCORES PROVISIOIRES ******************** -->
                     <h2>Scores provisoires</h2>
                     <table text-align:center>
                        <tr>
                           <td width="20%"><b>Type</b></td>
                           <td width="20%"><b>AGI <i>(<%= bilanScores["nbrAGI"]%> joueur(s))</i></b></td>
                           <td width="20%"><b>INNO <i>(<%= bilanScores["nbrINNO"]%> joueur(s))</i></b></b></td>
                           <td width="20%"><b>QSF <i>(<%= bilanScores["nbrQSF"]%> joueur(s))</i></b></b></td>
                           <td width="20%"><b>Vous</b></td>
                        </tr>
                        <tr>
                           <td width="20%"><b>Défenses ramenées</b></td>
                           <td width="20%"><%= bilanScores["scoreAGI_odd"]%> point(s)</td>
                           <td width="20%"><%= bilanScores["scoreINNO_odd"]%> point(s)</td>
                           <td width="20%"><%= bilanScores["scoreQSF_odd"]%> point(s)</td>
                           <td width="20%"><%= bilanScores["scoreODD"]%> point(s)</td>
                        </tr>
                        <tr>
                           <td width="20%"><b>Combats à morts</b></td>
                           <td width="20%"><%= bilanScores["scoreAGI_meurtre"]%> point(s)</td>
                           <td width="20%"><%= bilanScores["scoreINNO_meurtre"]%> point(s)</td>
                           <td width="20%"><%= bilanScores["scoreQSF_meurtre"]%> point(s)</td>
                           <td width="20%"><%= bilanScores["scoreMeurtre"]%> point(s)</td>
                        </tr>
                        <tr>
                           <td width="20%"><b><i> -> Assassinats</i></b></td>
                           <td width="20%"><i>(<%= bilanScores["AGI_meurtres"]%> meurtres)</i></td>
                           <td width="20%"><i>(<%= bilanScores["INNO_meurtres"]%> meurtres)</i></td>
                           <td width="20%"><i>(<%= bilanScores["QSF_meurtres"]%> meurtres)</i></td>
                           <td width="20%"><i>(<%= bilanScores["nbrMeurtres"]%> meurtres)</i></td>
                        </tr>
                        <tr>
                           <td width="20%"><b><i> -> Pertes</i></b></td>
                           <td width="20%"><i><%= bilanScores["AGI_tués"]%> tués</i></td>
                           <td width="20%"><i><%= bilanScores["INNO_tués"]%> tués</i></td>
                           <td width="20%"><i><%= bilanScores["QSF_tués"]%> tués</i></td>
                           <td width="20%"><i><%= bilanScores["nbrFoisTue"]%> fois</i></td>
                        </tr>
                        <tr>
                           <td width="20%"><b>Zombies tués</b></td>
                           <td width="20%"><%= bilanScores["AGI_zombies"]%> zombie(s)</td>
                           <td width="20%"><%= bilanScores["INNO_zombies"]%> zombie(s)</td>
                           <td width="20%"><%= bilanScores["QSF_zombies"]%> zombie(s)</td>
                           <td width="20%"><%= bilanScores["nbrGoulesTues"]%> zombie(s)</td>
                        </tr>
                        <tr>
                           <td width="20%"><b>TOTAL</b></td>
                           <td width="20%"><%= bilanScores["scoreAGI"]%> point(s)</td>
                           <td width="20%"><%= bilanScores["scoreINNO"]%> point(s)</td>
                           <td width="20%"><%= bilanScores["scoreQSF"]%> point(s)</td>
                           <td width="20%"><%= bilanScores["total"]%> point(s)</td>
                        </tr>
                     </table>
                     <!-- *************** TCHAT RAPIDE ******************** -->
                     <h2>Plateau de jeu</h2>
                     <a name="plateauDeJeu"><i>Tchat rapide</i> </a>
                     <!-- ancre-->
                     <table border="0">
                        <tr>
                           <!-- messages recus -->
                           <td>
                              <textarea readonly id="msgs" rows="4" name="msgTextAreaRapide"></textarea>
                           </td>
                        </tr>
                     </table>
                     <table>
                        <tr>
                           <td width="80%">
                              <input type="text" placeholder="Votre message" id="msgTextBox"/>
                           </td>
                           <td width="20%">
                              <input type="submit" value="Envoyer !" id="msgSubmit"/>
                           </td>
                        </tr>
                     </table>
                     <br>
                     <!-- *************** CANVAS ******************** -->
                     <!-- Canvas -->
                     <canvas id="myCanvas" style="display:block; margin:-25px; border:1px solid #FFFFFF;" width="1100" height="620"></canvas>
                     <% } %>
                     <!-- *************** SCRIPTS ******************** -->
                     <script>
                        window.jQuery || document.write('<script src="/view/js/jquery-1.7.2.min.js"><\/script>')
                        
                        createjs.Ticker.setInterval(1000);
                        createjs.Ticker.addEventListener("tick", function()
                        {
                        var canvas = document.getElementById("myCanvas");
                        });
                        
                        /*********** EVENEMENTS LORS DE RECEPTION D'UNE COMMUNICATION SERVEUR -> CLIENT **************/
                        var socket = io.connect('http://localhost:25536');
                        
                        $(document).ready(function()
                        {
                        // pour le tchat
                        socket.emit('INFO_USER_CS', '<%= sessionID %>', '<%= username %>');
                        socket.emit('INFO_USER_CHAT_CS', '<%= sessionID %>', '<%= username %>', "jeu");
                        });
                        
                        // clic sur le bouton d'envoi du message
                        $("#msgSubmit").click(function()
                        {
                        sendMessage();
                        });
                        
                        // envoi d'un message
                        sendMessage = function()
                        {
                        var message = $("#msgTextBox").val();
                        if (message != "")
                        {
                        socket.emit("USER_MESSAGE_CS", '<%= sessionID %>','<%= username %>', message);
                        }
                        $("#msgTextBox").val("");
                        },
                        
                        // réception d'un message
                        socket.on('USER_MESSAGE_SC', function(user, message)
                        {
                        $("#msgs").append(user + " : " + message +"\n");
                        });
                        
                        // deconnexion
                        socket.on("DECONEXION_SC", function(msg)
                        {
                        alert(msg);
                        $.post("/",
                        {
                        _method : "delete"
                        }, function()
                        {
                        document.location = "/";
                        });
                        });
                        
                     </script>
                  </div>
                  <!-- #content -->
               </div>
               <!-- #main -->
               <footer id="footer"></footer>
               <!-- #footer -->
            </body>
         </html>

