<!DOCTYPE html>

	<html class="no-js">
		<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

			<link href="../public/bootstrap/css/bootstrap.css" rel="stylesheet">
			<title>Zomb'IstiA - Plateau de jeu</title>

			<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<!-- Script nécessaires pour le serveur -->
		<!--<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
		<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->

		<script>
			var createjs = window;
			var socket = io.connect('http://localhost:25536');
			socket.emit('INFO_USER_CS', '<%= sessionID %>', '<%= username %>');
		</script>
		<script type="text/javascript" src="../src/createjs/events/Event.js"></script>
		<script type="text/javascript" src="../src/createjs/events/EventDispatcher.js"></script>
		<script type="text/javascript" src="../src/createjs/utils/IndexOf.js"></script>
		<script type="text/javascript" src="../src/easeljs/utils/UID.js"></script>
		<script type="text/javascript" src="../src/easeljs/utils/Ticker.js"></script>
		<script type="text/javascript" src="../src/easeljs/geom/Matrix2D.js"></script>
		<script type="text/javascript" src="../src/easeljs/geom/Point.js"></script>
		<script type="text/javascript" src="../src/easeljs/geom/Rectangle.js"></script>
		<script type="text/javascript" src="../src/easeljs/display/Shadow.js"></script>
		<script type="text/javascript" src="../src/easeljs/display/SpriteSheet.js"></script>
		<script type="text/javascript" src="../src/easeljs/display/Graphics.js"></script>
		<script type="text/javascript" src="../src/easeljs/display/DisplayObject.js"></script>
		<script type="text/javascript" src="../src/easeljs/display/Container.js"></script>
		<script type="text/javascript" src="../src/easeljs/display/Stage.js"></script>
		<script type="text/javascript" src="../src/easeljs/display/Bitmap.js"></script>
		<script type="text/javascript" src="../src/easeljs/display/Sprite.js"></script>
		<script type="text/javascript" src="../src/easeljs/display/BitmapAnimation.js"></script>
		<script type="text/javascript" src="../src/easeljs/display/BitmapText.js"></script>
		<script type="text/javascript" src="../src/easeljs/display/Shape.js"></script>
		<script type="text/javascript" src="../src/easeljs/display/Text.js"></script>
		<script type="text/javascript" src="../src/easeljs/display/DOMElement.js"></script>
		<script type="text/javascript" src="../src/easeljs/events/MouseEvent.js"></script>
		<script type="text/javascript" scriptrc="../src/easeljs/filters/Filter.js"></script>
		<script type="text/javascript" src="../src/easeljs/ui/ButtonHelper.js"></script>
		<script type="text/javascript" src="../src/easeljs/ui/Touch.js"></script>
		<script type="text/javascript" src="../src/easeljs/utils/SpriteSheetUtils.js"></script>
		<script type="text/javascript" src="../src/easeljs/utils/SpriteSheetBuilder.js"></script>
		<script type="text/javascript" src="/view/easeljs-0.7.0.min.js"></script>
		<!-- Note: All PreloadJS classes are listed here: -->
		<script type="text/javascript" src="../src/createjs/utils/Proxy.js"></script>
		<script type="text/javascript" src="../src/preloadjs/AbstractLoader.js"></script>
		<script type="text/javascript" src="../src/preloadjs/LoadQueue.js"></script>
		<script type="text/javascript" src="../src/preloadjs/TagLoader.js"></script>
		<script type="text/javascript" src="../src/preloadjs/XHRLoader.js"></script>
		<script type="text/javascript" src="/view/js/HeureLocale.js"></script>
		<script type="text/javascript" src="/view/canvas.js"></script>
		</head>
		<body >
				<!-- habillage -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
	        	<div class="navbar-header">
	         		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
		            	<span class="sr-only">Toggle navigation</span>
		            	<span class="icon-bar"></span>
		            	<span class="icon-bar"></span>
		            	<span class="icon-bar"></span>
	          		</button>
	          		<a class="navbar-brand" href="#">Notre beau logo</a>	
	        	</div>
	        	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
	          		<ul class="nav navbar-nav pull-right navb">
	            		<li class="navbar-text"  >Heure du serveur : 15:45:13</li>
	            		<li class="navbar-text" >Prochaine attaque dans : </li>
	            		<form action="/" method="post" class="btn"><button type="submit" class="navbar-btn btn btn-danger"  value="Retour chez les vivants ?!" >Retour chez les vivants</button></form>
	          		</ul>
	        	</div><!--/.nav-collapse -->
	     	</div>
	    </nav>
	    <div class="container-fluid">
	    	<div class="row">
	    	<div class="col-md-2 sidebar" >
	    		<ul class="nav nav-sidebar nav-pills nav-stacked ">
	    			<li><a href="/">Accueil</a></li>
	    		
					<li class="divider"><hr/></li>
	    			

	    			<li ><a href="/regles">Règles</a></li>
	    			<li><a href="/tutoriel">Tutoriel</a></li>
	    		
	    			<li class="divider"><hr/></li>
	    			<li class="nav-sidebar active"><a href="/jeu#les_scores">Plateau de jeu</a></li>
	    			<li><a href="/chat-general">Chats</a></li>
	    		
	    			<li class="divider"><hr/></li>
	    			<li><a href="/classement">Classement</a></li>
	    		</ul>

	    	</div>

	    	<!-- core de la page -->


	    	<% if(idEquipe == 0 || !isUpToDate) { %>
	    		<h1>Aux portes de l'enfer...</h1>
	    		
	    		<!-- si différente session que l'actuelle -->
	    		<% if(!isUpToDate && idEquipe != 0) { %>
	    			<!-- -->
	    			<div class="alert-error" style="font-size: 20px;">
	    			<b>Une nouvelle session a commencé depuis votre dernière connexion !</b>
	    			<br>
	    			</div>

	    			<!-- *************** RESUME DES SCORES DE LA DERNIERE SESSION ******************** -->
	    			<% if (bilanScores["lastIdSession"] != -1 ) { %>
	    			<h2> Résumé de des scores de votre dernière session : (session n°<%= bilanScores["lastIdSession"]%>)</h2>
	    			<b>Session commencée le <%= dateLastSession["dateDebut"].toLocaleString() %> et achevée le <%= dateLastSession["dateFin"].toLocaleString() %></b>
	    			<% } //fin if %>

	    		<table>
	    		<td width=50%><b>Scores globaux : </b>
	    		<br>
	    		<br>
	    		<table>
	    		<tr>
	    		<td><b>Equipe</b></td>
	    		<td><b>Participants</b></td>
	    		<td><b>Score par meurtres</b></td>
	    		<td><b>Score par objets</b></td>
	    		<td><b>Total</b></td>
	    		</tr>
	    		<tr>
	    		<td>AGI</td>
	    		<td> <%= bilanScores_last["nbrAGI"]%> </td>
	    		<td> <%= bilanScores_last["scoreAGI_meurtre"]%> point(s)</td>
	    		<td> <%= bilanScores_last["scoreAGI_odd"]%> point(s)</td>
	    		<td><b><%= bilanScores_last["scoreAGI"]%> point(s)</b></td>
	    		</tr>
	    		<tr>
	    		<td>INNO</td>
	    		<td><%= bilanScores_last["nbrINNO"]%> </td>
	    		<td><%= bilanScores_last["scoreINNO_meurtre"]%> point(s)</td>
	    		<td><%= bilanScores_last["scoreINNO_odd"]%> point(s)</td>
	    		<td><b><%= bilanScores_last["scoreINNO"]%> point(s)</b></td>
	    		</tr>
	    		<tr>
	    		<td>QSF</td>
	    		<td><%= bilanScores_last["nbrQSF"]%> </td>
	    		<td><%= bilanScores_last["scoreQSF_meurtre"]%> point(s)</td>
	    		<td><%= bilanScores_last["scoreQSF_odd"]%> point(s)</td>
	    		<td><b><%= bilanScores_last["scoreQSF"]%> point(s)</b></td>
	    		</tr>
	    		</table>
	    		<br>
	    		</td>
	    		<td width=50%><b>Vos scores :</b>
	    		<br>
	    		<br>
	    		<table>
	    		<tr>
	    		<td><b>Type</b></td>
	    		<td><b>Nombre</b></td>
	    		<td><b>Gain en points</b></td>
	    		</tr>
	    		<tr>
	    		<td>Objets de défenses ramenés</td>
	    		<td>Aucune info</td>
	    		<td><%= bilanScores_last["scoreODD"]%> point(s)</td>
	    		</tr>
	    		<tr>
	    		<td>Nombre par meurtres</td>
	    		<td><%= bilanScores_last["nbrMeurtres"]%></td>
	    		<td><%= bilanScores_last["scoreMeurtre"]%> point(s)</td>
	    		</tr>
	    		<tr>
	    		<td>Nombre de fois tués</td>
	    		<td><%= bilanScores_last["nbrFoisTue"]%></td>
	    		<td>0 point</td>
	    		</tr>
	    		<tr>
	    		<td>Nombre de zombies tués</td>
	    		<td><%= bilanScores_last["nbrGoulesTues"]%></td>
	    		<td>Pas de point</td>
	    		</tr>
	    		<tr>
	    		<td>TOTAL</td>
	    		<td> X</td>
	    		<td><%= bilanScores_last["total"]%> point(s)</td>
	    		</tr>
	    		</table>
	    		<br>
	    		</td>
	    		</table>
	    	Etes vous prêt à retenter l'aventure ? ...
	    	<% } %>

	    	<!-- *************** CHOIX D'EQUIPE ******************** -->

	    	<h2> Entrée en enfer </h2>
	    	<p>
	    	Avant de pouvoir vous lancer dans l'aventure, vous devez encore choisir votre équipe et la compétence spéciale de votre personnage.
	    	<br>
	    	Vous avez le choix entre trois compétences :
	    	<ul>
	    	<li>
	    	Vous pouvez être <b>UNE BRUTE</b>: Vous êtes là pour <b>protéger vos alliés</b> et <b>mener des assaults sur vos ennemis</b>, car vos attaques sont plus
	    	destructrices et vous suportez mieux les coups. En revanche, vous trouverez assez difficilement des objets pendant les fouilles et
	    	vous aurez de fortes chances d'être découvert pendant une fouille ennemi.
	    	<br>
	    	</li>
	    	<li>
	    	Vous pouvez être <b>UN EXPLORATEUR</b>: Vous êtes un éclaireur, spécialement dédié à <b>l'exploration de l'immense complexe</b>. Vous avez peu de chance d'être découvert
	    	durant une fouille ennemi et vous pourrez effectuer bien plus de mouvements que vos alliés. Cependant, faites attention à ne pas vous faire attaquer car vos points
	    	de défense sont relativement faibles.
	    	<br>
	    	</li>
	    	<li>
	    	Vous pouvez être <b>UN CHERCHEUR</b>: Vous êtes fait pour <b>fouiller les alentours</b> afin de trouver les objets nécessaires à votre victoire, car
	    	vos fouilles seront bien plus souvent fructueuses. Bien entendu cela a un coût, car vos attaques sont faibles et vos caches rarement fiables.
	    	<br>
	    	</li>
	    	</ul>
	    	</p>
	    	<b>Préparation...</b>
	    	<br>

	    	<form class="choixEquipeform" name="formInitPerso" method="POST" action="/jeu">
	    	<input type="hidden" name="_method" value="PUT">
	    	Choisissez votre équipe :
	    	<select width: 10% name="equipe">
	    	<option value="1">AGI <%= bilanScores["nbrAGI_sessionEnCours"]%> joueur(s)</option>
	    	<option value="2">INNO <%= bilanScores["nbrINNO_sessionEnCours"]%> joueur(s)</option>
	    	<option value="3">QSF <%= bilanScores["nbrQSF_sessionEnCours"]%> joueur(s)</option>
	    	</select>
	    	Choisissez votre compétence :
	    	<select name="competence">
	    	<option value="brute">Brute</option>
	    	<option value="explorateur">Explorateur</option>
	    	<option value="chercheur">Chercheur</option>
	    	</select>
	    	<input type="submit" value="Tuer du zombie !" name="submitChoixDepart" />
	    	</form>
	    	<% }  else 	 { %>
<!-- FIN AJOUT MAIMAIN -->	    
	    	

	    	<div class="col-md-10 col-md-offset-2 col-sm-offset-2" >
	    		<div  style="background-color: rgba(161, 161, 161, 0.4); ;padding-left : 2%;padding-right : 2%;padding-top:2%;padding-bottom:2%;margin-bottom:1%;margin-top:1% ;border-radius:15px; min-height:850px; ">

	    			<nav class="navbar navbar-inverse" role="navigation">
	    				<ul class="nav navbar-nav">
  					
	    					<li class=""><a href="#les_scores">Scores</a></li>
	    					<li class="divider"><hr/></li>
	    					<li class=""><a href="#les_infos">Info Sessions</a></li>
	    					<li class="divider"><hr/></li>
	    					<li class=""><a href="#le_jeu">Plateau de jeu</a></li>		
	    				</ul>

	    			</nav>
	    			<div >
	    				<article>
		    			
		    				<span id="le_jeu" class="hide"></span> 
		    				<div class="displayable">
		    					<div class="col-md-12 col-sm-12 col-xs-12" >
				    				<canvas id="myCanvas" style="display:block;  border:1px solid #000000;"  width="1100" height="620" ></canvas>
								


								
									<textarea readonly id="msgs" rows="2" name="msgTextAreaRapide"  class="col-md-12 col-sm-12 col-xs-12 " > </textarea>
									
									<input class="col-md-10 col-sm-10 col-xs-10 " type="text" placeholder="Votre message" id="msgTextBox"/>
									
									<input class="col-md-2 col-sm-2 col-xs-2" type="submit" value="Envoyer !" id="msgSubmit"/>
								</div>
							</div>
						</article>
						<article>
							<span id="les_scores" class="hide"></span>
							<div class="displayable">
								<div class="col-md-12 col-sm-12  ">
							<% if (bilanScores["lastIdSession"] != -1 ) { %>
								<h2> Résumé de des scores de votre dernière session : (session n°<%= bilanScores["lastIdSession"]%>)</h2>
					<b><h3>Session commencée le <%= dateLastSession["dateDebut"] %> et achevée le <%= dateLastSession["dateFin"] %></h3></b>
					<% } %>
					<table class="table">
						<td width=50%><b><h4>Scores globaux : </h4></b>
						<br>
						<br>
						<table>
							<tr>
								<td><b><p>Equipe</p></b></td>
								<td><b><p>Participants</p></b></td>
								<td><b><p>Score par meurtres</p></b></td>
								<td><b><p>Score par objets</p></b></td>
								<td><b><p>Total</p></b></td>
							</tr>
							<tr>
								<td><p>AGI</p></td>
								<td><p><%= bilanScores_last["nbrAGI"]%> </p></td>
								<td><p><%= bilanScores_last["scoreAGI_meurtre"]%> point(s)</p></td>
								<td><p><%= bilanScores_last["scoreAGI_odd"]%> point(s)</p></td>
								<td><b><p><%= bilanScores_last["scoreAGI"]%> point(s)</p></b></td>
							</tr>
							<tr>
								<td><p>INNO</p></td>
								<td><p><%= bilanScores_last["nbrINNO"]%> </p></td>
								<td><p><%= bilanScores_last["scoreINNO_meurtre"]%> point(s)</p></td>
								<td><p><%= bilanScores_last["scoreINNO_odd"]%> point(s)</p></td>
								<td><b><p><%= bilanScores_last["scoreINNO"]%> point(s)</p></b></td>
							</tr>
							<tr>
								<td><p>QSF</p></td>
								<td><p><%= bilanScores_last["nbrQSF"]%> </p></td>
								<td><p><%= bilanScores_last["scoreQSF_meurtre"]%> point(s)</p></td>
								<td><p><%= bilanScores_last["scoreQSF_odd"]%> point(s)</p></td>
								<td><b><p><%= bilanScores_last["scoreQSF"]%> point(s)</p></b></td>
							</tr>
						</table>
						<br>
						</td>
						<td width=50%><b><h4>Vos scores :</h4></b>
						<br>
						<br>
						<table>
							<tr>
								<td><b><p>Type</p></b></td>
								<td><b><p>Nombre</p></b></td>
								<td><b><p>Gain en points</p></b></td>
							</tr>
							<tr>
								<td><p>Objets de défenses ramenés</p></td>
								<td><p>Aucune info</p></td>
								<td><p><%= bilanScores_last["scoreODD"]%> point(s)</p></td>
							</tr>
							<tr>
								<td><p>Nombre par meurtres</p></td>
								<td><p><%= bilanScores_last["nbrMeurtres"]%></p></td>
								<td><p><%= bilanScores_last["scoreMeurtre"]%> point(s)</p></td>
							</tr>
							<tr>
								<td><p>Nombre de fois tués</p></td>
								<td><p><%= bilanScores_last["nbrFoisTue"]%></p></td>
								<td><p>0 point</p></td>
							</tr>
							<tr>
								<td><p>Nombre de zombies tués</p></td>
								<td><p><%= bilanScores_last["nbrGoulesTues"]%></p></td>
								<td><p>Pas de point</p></td>
							</tr>
							<tr>
								<td><p>TOTAL</p></td>
								<td><p>X</p></td>
								<td><p><%= bilanScores_last["total"]%> point(s)</p></td>
							</tr>
						</table>
						<br>
						</td>
					</table>
					<!-- *************** INFOS SUR LES SCORES PROVISIOIRES ******************** -->
								<h2>Scores provisoires</h2>
								<table text-align:center>
									<tr>
										<td width="20%"><b><p>Type</p></b></td>
										<td width="20%"><b><p>AGI <i>(<%= bilanScores["nbrAGI"]%> joueur(s))</i></p></b></td>
										<td width="20%"><b><p>INNO <i>(<%= bilanScores["nbrINNO"]%> joueur(s))</i></p></b></b></td>
										<td width="20%"><b><p>QSF <i>(<%= bilanScores["nbrQSF"]%> joueur(s))</i></p></b></b></td>
										<td width="20%"><b><p>Vous</p></b></td>
									</tr>
									<tr>
										<td width="20%"><b><p>Défenses ramenées</p></b></td>
										<td width="20%"><p><%= bilanScores["scoreAGI_odd"]%> point(s)</p></td>
										<td width="20%"><p><%= bilanScores["scoreINNO_odd"]%> point(s)</p></td>
										<td width="20%"><p><%= bilanScores["scoreQSF_odd"]%> point(s)</p></td>
										<td width="20%"><p><%= bilanScores["scoreODD"]%> point(s)</p></td>
									</tr>
									<tr>
										<td width="20%"><b><p>Combats à morts</p></b></td>
										<td width="20%"><p><%= bilanScores["scoreAGI_meurtre"]%> point(s)</p></td>
										<td width="20%"><p><%= bilanScores["scoreINNO_meurtre"]%> point(s)</p></td>
										<td width="20%"><p><%= bilanScores["scoreQSF_meurtre"]%> point(s)</p></td>
										<td width="20%"><p><%= bilanScores["scoreMeurtre"]%> point(s)</p></td>
									</tr>
									<tr>
										<td width="20%"><b><p><i> -> Assassinats</i></p></b></td>
										<td width="20%"><i><p>(<%= bilanScores["AGI_meurtres"]%> meurtres)</p></i></td>
										<td width="20%"><i><p>(<%= bilanScores["INNO_meurtres"]%> meurtres)</p></i></td>
										<td width="20%"><i><p>(<%= bilanScores["QSF_meurtres"]%> meurtres)</p></i></td>
										<td width="20%"><i><p>(<%= bilanScores["nbrMeurtres"]%> meurtres)</p></i></td>
									</tr>
									<tr>
										<td width="20%"><b><p><i> -> Pertes</i></p></b></td>
										<td width="20%"><i><p><%= bilanScores["AGI_tués"]%> tués</p></i></td>
										<td width="20%"><i><p><%= bilanScores["INNO_tués"]%> tués</p></i></td>
										<td width="20%"><i><p><%= bilanScores["QSF_tués"]%> tués</p></i></td>
										<td width="20%"><i><p><%= bilanScores["nbrFoisTue"]%> fois</p></i></td>
									</tr>
									<tr>
										<td width="20%"><b>Zombies tués</b></td>
										<td width="20%"><%= bilanScores["AGI_zombies"]%> zombie(s)</td>
										<td width="20%"><%= bilanScores["INNO_zombies"]%> zombie(s)</td>
										<td width="20%"><%= bilanScores["QSF_zombies"]%> zombie(s)</td>
										<td width="20%"><%= bilanScores["nbrGoulesTues"]%> zombie(s)</td>
									</tr>
									<tr>
										<td width="20%"><b>TOTAL</b></td>
										<td width="20%"><%= bilanScores["scoreAGI"]%> point(s)</td>
										<td width="20%"><%= bilanScores["scoreINNO"]%> point(s)</td>
										<td width="20%"><%= bilanScores["scoreQSF"]%> point(s)</td>
										<td width="20%"><%= bilanScores["total"]%> point(s)</td>
									</tr>
								</table>
				</div>
				</div>
					</article>
					<article>
						<span id="les_infos" class="hide"></span>
						<div class="displayable">
							<div class="col-md-12 col-sm-12  ">
								<h2>Information sur la session en cours</h2>
								<table border="0">
									<td width=50%><!--<b>Répartition des équipes</b>
									<br>
									<table>
									<tr> <br> </tr>
									<tr>
									<td><b>AGI</b></td>
									<td><b>INNO</b></td>
									<td><b>QSF</b></td>
									<td><b>TOTAL</b></td>
									</tr>
									<tr>
									<td><%= bilanScores["nbrAGI"]%></td>
									<td><%= bilanScores["nbrINNO"]%></td>
									<td><%= bilanScores["nbrQSF"]%></td>
									<td><%= bilanScores["nbrTotal"]%></td>
									</tr>
									</table>-->
									<table>
										<b>Dates clés</b>
										<tr>
											<br>
										</tr>
										<br>
										<tr>
											<td width=50%><b>Numéro de session : </b></td>
											<td><%= sessionInfo["id"]%></td>
										</tr>
										<tr>
											<td><b>Date de début : </b></td>
											<td><%= sessionInfo["dateDebut"].toLocaleDateString()  %></td>
										</tr>
										<tr>
											<td><b>Date de fin : </b></td>
											<td><%= sessionInfo["dateFin"].toLocaleDateString() %></td>
										</tr>
									</table></td>
									<td width=50%>
									<table>
										<b>Paramètres des attaques</b>
										<br>
										<tr>
											<br>
										</tr>
										<tr>
											<td width=50%><b>Heure de la prochaine attaque : </b></td>
											<td><%= heureAttaque %></td>
										</tr>
										<tr>
											<td><b>Heure locale : </b></td>
											<td><span id="HeureLocale"></span>
											<script type="text/javascript">
												HeureLocale('HeureLocale');
											</script></td>
										</tr>
										<tr>
											<td><b>Fréquence des attaques : </b></td>
											<td><%= dureeCycle %> heure(s)</td>
										</tr>
									</table></td>

								</table>

								
							</div>
						</div>
					
<!-- DEBUT AJOUT MAIMAIN -->	
<% } %>
<!-- FIN AJOUT MAIMAIN -->	
					</article>

					</div>

	    		</div>
	    	</div>







	    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
			<script>window.jQuery || document.write('<script src="/view/js/jquery-1.7.2.min.js"><\/script>')</script>
			<script type="text/javascript">
			/*var canvas = $('#myCanvas');
			var c = $('#containerCanvas');

			$(window).resize(changeCanvas);

			function changeCanvas(){
				canvas.attr("width",$(c).width());
				canvas.attr("height",canvas.width()/1.75);
			}

			$(document).ready(changeCanvas);

			changeCanvas();*/ 
			</script> 
		</body>
	</html> 

